article{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.judul{
    text-indent: 30px;
    margin-top: 30px;
    color: #051E2F;
    font-style:normal;
    text-align: center;;
}
.cover .social a {
    color: white;
}

nav {
    background-color: #051E2F;
}






